

.footer {
    background-image: linear-gradient(to right bottom, #05070b, #2a383e, #4d6c6b, #81a28f, #ccd8af);
text-align: center;
font-size: 25px ;
   
    .footer__grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
}
    .footer__title {
    font-weight: 400;
    color: rgb(61, 12, 107);
    font-size: 2rem;
    margin-bottom: 35px;
    text-align: center;
}

.footer__icons {
    display: flex;
    justify-content: space-evenly;
}
    
.footer__container-icons {
    display: inline-block;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
    border: 1px solid color#fff;
    border-radius: 50%;
 }

.footer__icon {
    font-size: 30px;
    text-decoration: none;
    line-height: 60px;
 }
 
}







