@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,400&display=swap');

:root {
    --background: -o-linear-gradient(#661eea7e 0% #764ba298 100%);
    --color-primary: var(--color-primary) #667eea;
    --color-secondary: #764ba2;
    --boton-padding: var(--boton-padding) 20px 40px;
    --clippy: polygon(0 1%, 0 0, 0 100%, 0% 100%);
}
button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #0f0e0e;
    z-index: -1;
}

button:hover,
button:focus {
    color: white;
}

button:hover:before,
button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

button:active {
    transform: scale(0.9);
}