/*********************Variables*****************/

$principal: #661eea7e 0% #764ba298 100%;
$color-primary: var(--color-primary) #667eea;
$color-secondary: #764ba2;
$boton-padding: var(--boton-padding) 20px 40px;
$clippy: polygon(0 1%, 0 0, 0 100%, 0% 100%);
